let mapleader=" "

set easymotion
set ideajoin

map f <Plug>(easymotion-f)
map F <Plug>(easymotion-F)
nnoremap <C-w> :bd<CR>
nnoremap dd "_dd
nnoremap p "yp
nnoremap <Leader>p "+p
nnoremap yy "yyy
nnoremap x "yx
nnoremap <Leader>y "+y
nnoremap E 2e
nnoremap <C-e> 10<C-e>
nnoremap <C-y> 10<C-y>
nnoremap <C-l> :bd<CR>
nnoremap ;a :action GotoClass<CR>

imap jk <Esc>

vmap f <Plug>(easymotion-f)
vmap F <Plug>(easymotion-F)
vnoremap y "yy
vnoremap d "_d
vnoremap p "yp
vnoremap <Leader>p "+p
vnoremap <Leader>y "+y
vnoremap <Leader>x "+x
vnoremap x "yx