let mapleader=" "

set ignorecase

nnoremap dd "_dd
nnoremap yy "yyy
nnoremap x "yx
nnoremap y "yy
nnoremap p "yp
nnoremap ,x "+x
nnoremap ,e "+y
nnoremap ,r "+p
nnoremap <Backspace> <C-6>

;Mappings to <Action> don't work with noremap. If you know the case when it's needed, please let us know.
map <Leader>e <Action>(ShowErrorDescription)
map ,a <Action>(GotoClass)
map ,g <Action>(SearchEverywhere)
map <C-w>c :bd<CR>

imap jk <Esc>
imap <C-k> <Action>(ParameterInfo)

vnoremap d "_d
vnoremap x "yx
vnoremap y "yy
vnoremap p "yp
vnoremap ,x "+x
vnoremap ,e "+y
vnoremap ,r "+p
